@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,bold,italic&subset=latin,latin-ext');

@font-face {
  font-family: Metropolis;
  src: url("fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
}

:root {
  --yellow-main: #ffd900;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Mono", "Courier New",
    monospace;
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #282828;
  border-radius: 5px;
  color: white;
}

p {
  margin-top: 0;
}