@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700&display=swap');

:root {
  /* Yellow */
  --yellow-00: #FFF8DF;
  --yellow-10: #FFEBAF;
  --yellow-20: #FFDF7B;
  --yellow-30: #FFD342;
  --yellow-40: #FFC800;
  --yellow-50: #FFBE00;
  --yellow-60: #FFB000;
  --yellow-70: #FF9C00;
  --yellow-80: #FF8A00;
  --yellow-90: #FF6800;

  /* Gray */
  --gray-00: #FAFAFA;
  --gray-10: #F5F5F5;
  --gray-20: #EEEEEE;
  --gray-30: #E0E0E0;
  --gray-40: #BDBDBD;
  --gray-50: #9E9E9E;
  --gray-60: #757575;
  --gray-70: #616161;
  --gray-80: #424242;
  --gray-90: #212121;
}

body {
  margin: 0;
  background: var(--gray-20);
  color: var(--gray-90);
  font-weight: 400;
  font-size: 1rem;
  font-family: "Overpass", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Overpass Mono", "Courier New",
    monospace;
  display: block;
  width: 100%;
  padding: 20px;
}

p {
  margin-top: 0;
}